# Python virtual env’leri
venv/
venv,/
.venv/
*/venv/
*/venv,/
*/.venv/


__pycache__/
*.py[cod]

############### Node
node_modules/
frontend/node_modules/

############### Ortam / sistem
.env
.DS_Store
